@page "/game"



@if (StateContainer.isGameOver)
{


    <div class="GameSettings">

        <GameSettingsComponent>
        </GameSettingsComponent>


    </div>
}
else
{
<GameComponent>

</GameComponent>
    }
  

@code {



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        }
        StateContainer.game = this;

    }

    public void render()
    {
        StateHasChanged();
    }
}
