@page "/"

@inject StateContainer StateContainer
@inject NavigationManager NavigationManager

@if (!StateContainer.isAddPlayerComponentVisible)
{
    <div class="HomeCardContainer">
        <div @onclick="NavigateToGame">
            <HomeCardComponent title="New Game" imgSource="dart_board.svg">
            </HomeCardComponent>
        </div>

        <HomeCardComponent title="Add Player" OnCardClick="toggleAddPlayer" imgSource="add_player.svg">
        </HomeCardComponent>

        <div @onclick="NavigateToStatistics">
            <HomeCardComponent title="Statistics" imgSource="statistics.svg">
            </HomeCardComponent>
        </div>

        <HomeCardComponent title="Settings" imgSource="settings.svg">
        </HomeCardComponent>
    </div>
}


@if (StateContainer.isAddPlayerComponentVisible){


<AddPlayerComponent >
    
</AddPlayerComponent>

}


@code{

    private void NavigateToGame()
    {
        NavigationManager.NavigateTo("game");
    }

    private void NavigateToStatistics()
    {
        NavigationManager.NavigateTo("statistics");
    }

    private void toggleAddPlayer()
    {
        StateContainer.home = this;
        StateContainer.isAddPlayerComponentVisible = !StateContainer.isAddPlayerComponentVisible;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        }

    }

    public void render()
    {
        StateHasChanged();
    }

}